#about {
  gap: 2em;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.shadow {
  box-shadow: 0 0 5px 1px black, inset 0 0 5px 1px black;
  overflow: visible;
}

/* @media only screen and (min-width: 0px) {
  .row {
    width: 80%;
    justify-content: space-between;
    flex-direction: column;
  }
}  */

/* @media only screen and (min-width: 1200px) {
  .row {
    width: 60%;
    justify-content: space-between;
    flex-direction: row;  
  }
} */

.content {
  text-align: center;
}

.termynal {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: fit-content;
  /* width: 100vh; */
  /* position: relative; */
  /* flex-grow: 5; */
}

@media screen and (max-width: 500px) {
  .termynal {
    padding: 1rem;
    padding-top: 3rem;
  }
  #about {
    width: 100%;
  }
}

@media screen and (max-width: 1351px) and (min-width: 550px) {
  .icons {
    display: flex;
  }
  .trophy{
    margin-top:0 !important;
    margin-left:calc(8vw - 20px) !important;
  }
}

.icons {
  justify-content: space-between;
  /* flex-direction: row; */
  justify-content: center;
  /*align-items: center;*/
  gap: 5vh;

  /* flex-wrap: wrap;
  color: var(--color-bg);
  /* position: relative; */
  /* flex-shrink: 5; */
}

.stats {
  font-size: 2rem;
  font-weight: bold;
}

.trophy {
  margin-top: 7vh;
  margin-left:0;
}
