#schedule {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-bottom: 30px;
}

.timeline-wrapper::-webkit-scrollbar {
  width: 0.5rem;
  height: auto;
  position: absolute;
}

.timeline-wrapper::-webkit-scrollbar-track {
  background-color: #0000003b;
  border-radius: 1rem 1rem 1rem 1rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.timeline-wrapper::-webkit-scrollbar-thumb {
  background: #434667;
  border-radius: 1rem 1rem 1rem 1rem;
  width: 80%;
}

.timeline-wrapper::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.timeline-wrapper::-webkit-scrollbar-thumb:active {
  background: #333;
}

.schedule-container {
  display: grid;
  grid-template-rows: auto;
  grid-row-gap: 15px;
  justify-content: center;
  align-items: center;
  margin: 0 2vw;
  border-radius: 10px;

  position: relative;
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.schedule-title {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: self-end;
  margin: 10px 0 0 0;
  padding-top: 5px;
}

.schedule-title > h5 {
  margin: 0;
}
.schedule-index {
  margin: 0;
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translate(-50%, -50%);
  font-size: 0.9rem;
  font-weight: bold;
  text-shadow: 0.08rem 0.08rem pink;
}
.timeline-wrapper {
  align-self: self-start;
  display: flex;
  /*margin: 20px 0;*/
  overflow-x: scroll;
  overflow-y: hidden;
}
.timeline-wrapper::-webkit-scrollbar-thumb {
  width: initial;
  background: #666;
}
.timeline-cell {
  display: flex;
  align-items: center;
  width: 320px;
  height: 100px;
  border-left: var(--timeline-label-border-width) solid rgba(1, 1, 1, 0.25);
}
.timeline-cell h5 {
  font-weight: bold;
  color: var(--dark-color);
}
.timeline-label {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, 0);
  height: 30px;
  color: var(--dark-color);
  font-weight: bold;
}

.timeline-col-container {
  margin: 30px 0;
  position: relative;
}

.divvy {
  position: absolute;
  width: 50%;
  border-left: 2px dotted #888;
  border-right: 2px dotted #888;
  top: 0;
  margin-top: 35px;
  height: calc(100% - 35px);
  z-index: -10000;
}

.timeline-col-container:first-child {
  margin-left: 50px;
}
.timeline-col-container:last-child {
  margin-right: 50px;
}

.timeline-col-container:last-child > .timeline-cell {
  border-right: var(--timeline-label-border-width) solid rgb(80, 80, 80);
}

.timeline-col-container:last-child > .timeline-label::after {
  content: var(--last-timeline-label-content);
  position: absolute;
  overflow: hidden;
  height: 100%;
  right: -50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(50%, 0);
  color: var(--dark-color);
  font-weight: bold;
}

.timeline-text-section {
  display: flex;
  flex-direction: column;
  height: 20px;
  position: absolute;
  top: 10px;
  left: 10px;
  /*bottom: 30px;*/
  z-index: 100;
}
.timeline-text-section > h5 {
  margin: 0;
  white-space: nowrap;
}

.timeline-text-section > p {
  margin: 0;
  white-space: nowrap;
  font-size: 0.85rem;
}

/*pop up*/
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  border-radius: 10px;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  /* visibility: hidden; */
  width: 500px;
  background-color: white;
  color: var(--dark-color);

  border-radius: 10px;
  padding: 1em;
  box-shadow: 0 0 50px darkgray;
  position: absolute;
  bottom: 0;
  z-index: 999999;
  left: 0;

  opacity: 0;
  transition: opacity .2s;
}
/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn .2s ease-out;
  animation: fadeIn .2s ease-out;
  opacity: 1;
}
.popuptext h2 {
  color: var(--dark-color);
  font-size: large;
  font-weight: bold;
  text-align: left;
  padding-bottom: 10px;
}
.popuptext p {
  color: var(--dark-color);

  padding-bottom: 10px;
}
/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.popup * {
  pointer-events: none;
  cursor: pointer;
}
.evcl {
  cursor: pointer;
}
